prj2-phase2-detail.txt
prj2-phase4.txt
prj2-phase8_detail.txt
phase9_audit.docx
phase7-transaction.docx
phase6-procedures.docx
phase5-view.docx
phase4-index.docx
phase4-index.docx
phase1-normalization.docx
